<% include partials/header.ejs %>
<h1>Home</h1>

<p><%= startContent %></p>

<% posts.forEach(function(e){ %>
<h1>
    <%= e.title %>
</h1>
<p>
    <%= e.body.substring(0, 400) + " ..." %> <a href="/posts/:<%= e.title %>"  >Read More</a>
</p>

<% }); %>

<center><a href="/compose"><button class="btn btn-primary">Compose A New Post</button></a></center>
<% include partials/footer.ejs %>